body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
button {
    font-size: 20px;
    font-family: monospace;
    color: #fff;
    background: linear-gradient(to left, #000000, #fd2d2d,#000000);
    text-decoration: none;
    padding: 20px 70px;
    border-radius: 10px;
    background-size: 200%;
    transition: .5s;
}
button:hover {
    background-position: right;
}